/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import "tailwindcss";
@plugin "daisyui";

/* Base Light Theme Colors */
:root {
  --background: #f4f4f4;
  --foreground: #5f5f5f;

  /* Primary Brand Colors */
  --primary-orange: #f55823;
  --secondary-orange: #ff9f00;

  /* Gradient Backgrounds */
  --gradient-1: linear-gradient(90deg, #f55823 0%, #ff9f00 100%);
  --gradient-2: linear-gradient(135deg,
      rgba(251, 215, 255, 0.5) 10%,
      rgba(255, 222, 193, 0.5) 80%);
  --gradient-3: linear-gradient(89.35deg, #fbd7fb 0.56%, #fedcd3 99.47%);
  --gradient-4: linear-gradient(270deg, #fbd7ff 0%, #ffdec1 100%);

  /* Solid Background Colors */
  --solid-1: #eee8ff;
  --get-started: #f445f6;

  /* Additional Colors */
  --color-1: #65621f;
  --color-2: #eaeaea;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-gradient-1: var(--gradient-1);
  --font-grandis: var(--font-grandis);
  --font-inter: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Inter', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', sans-serif;
}

/* Dark Theme Override */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #0a0a0a;
  }
}

@layer utilities {
  .border-gradient-bottom {
    border-bottom: 1.5px solid;
    border-image-source: linear-gradient(90deg,
        rgba(245, 166, 35, 0.2) 0%,
        #f5a623 50%,
        rgba(245, 166, 35, 0.2) 100%);
    border-image-slice: 1;
  }

  .after-gradient-border-bottom {
    position: relative;
  }

  .after-gradient-border-bottom::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    width: 0%;
    background: linear-gradient(90deg,
        rgba(245, 166, 35, 0.2) 0%,
        #f5a623 50%,
        rgba(245, 166, 35, 0.2) 100%);
    transition: all 0.3s;
  }

  .after-gradient-border-bottom:hover::after {
    width: 100%;
  }

}

@layer components {

  .btn-custom-white {
    @apply inline-flex items-center justify-center px-6 py-2.5 rounded-full font-normal text-black bg-white hover:bg-white transition-all duration-300;
  }

  .btn-custom-black {
    @apply inline-flex items-center justify-center px-6 py-2.5 rounded-full font-normal text-white bg-black hover:bg-black transition-all duration-300;
  }

  .btn-custom-gradient {
    @apply inline-flex items-center justify-center px-4 py-2 rounded-full font-normal text-white transition-all duration-300;
    background-image: var(--gradient-1);
  }

  .btn-custom-no-bg-outline {
    @apply inline-flex items-center justify-center px-4 py-2 rounded-full font-normal text-black transition-all duration-300;
  }


  .section-padding {
    @apply py-6 lg:py-8;
  }

  .title-text-h1 {
    @apply font-grandis font-bold text-2xl sm:text-4xl lg:text-6xl text-black;
  }

  .title-text-h2 {
    @apply font-grandis font-bold text-2xl sm:text-3xl lg:text-[54px] text-black leading-8 lg:leading-14;
  }

  .title-text-h3 {
    @apply font-grandis font-bold text-2xl sm:text-3xl lg:text-5xl text-black leading-8 lg:leading-14;
  }

  .gradient-text {
    @apply bg-gradient-to-r from-[#f55823] to-[#ff9f00] bg-clip-text text-transparent;
  }

  .chat-bubble-style {
    @apply flex items-center mt-10 rounded-xl bg-center bg-no-repeat bg-cover lg:py-14 lg:px-8 md:py-10 md:px-6 py-5 px-3 relative overflow-hidden;
  }

  .custom-list-item {
    @apply relative pl-10 border-t last:border-b border-gray-300 py-3 text-base font-bold;
  }

  .custom-list-item::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: linear-gradient(90deg, #f55823 0%, #ff9f00 100%);
  }

}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
}

.autoplay-progress {
  position: absolute;
  left: 16px;
  bottom: 16px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #fff;
}

.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 5px;
  stroke: #fff;
  fill: none;
  stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}

.loader__balls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.loader__balls__group {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  height: 100px;
  width: 40px;
}

.ball {
  height: 30px;
  width: 30px;
  border-radius: 15px;
  position: absolute;
  transform-origin: bottom;
}

.loader__balls__group :nth-child(1) {
  background-color: #ff9f00;
  animation-name: jumpinBallAnimation1;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
}

@keyframes jumpinBallAnimation1 {
  0% {
    transform: translateY(0) scale(1, 1);
  }

  10% {
    transform: translateY(0) scale(1.3, 0.8);
  }

  11% {
    transform: translateY(0) scale(0.7, 1.2);
    animation-timing-function: cubic-bezier(0, 0, 0.5, 1);
  }

  39% {
    transform: translateY(-75px) scale(1);
    animation-timing-function: cubic-bezier(0, 0, 0.5, 1);
  }

  40% {
    transform: translateY(-75px) scale(1);
  }

  41% {
    transform: translateY(-75px) scale(1);
    animation-timing-function: cubic-bezier(1, 0, 1, 0);
  }

  69% {
    transform: translateY(0px) scale(1, 1);
    animation-timing-function: cubic-bezier(1, 0, 1, 0);
  }

  70% {
    transform: translateY(0) scale(1.5, 0.4);
  }

  80% {
    transform: translateY(0) scale(0.8, 1.2);
  }

  90% {
    transform: translateY(0) scale(1.1, 0.8);
  }

  100% {
    transform: translateY(0) scale(1, 1);
  }
}

.loader__balls__group :nth-child(2) {
  background-color: #ff9f00;
  animation-name: jumpinBallAnimation2;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
}

@keyframes jumpinBallAnimation2 {
  0% {
    transform: translateY(0) scale(1, 1);
  }

  10% {
    transform: translateY(0) scale(1.3, 0.8);
  }

  11% {
    transform: translateY(0) scale(0.7, 1.2);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }

  39% {
    transform: translateY(-75px) scale(1);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }

  40% {
    transform: translateY(-75px) scale(1);
  }

  41% {
    transform: translateY(-75px) scale(1);
    animation-timing-function: cubic-bezier(1, 0, 1, 0.5);
  }

  69% {
    transform: translateY(0px) scale(1, 1);
    animation-timing-function: cubic-bezier(1, 0, 1, 0.5);
  }

  70% {
    transform: translateY(0) scale(1.5, 0.4);
  }

  80% {
    transform: translateY(0) scale(0.8, 1.2);
  }

  90% {
    transform: translateY(0) scale(1.1, 0.8);
  }

  100% {
    transform: translateY(0) scale(1, 1);
  }
}

.loader__balls__group :nth-child(3) {
  background-color: #f55823;
  animation-name: jumpinBallAnimation3;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
}

@keyframes jumpinBallAnimation3 {
  0% {
    transform: translateY(0) scale(1, 1);
  }

  10% {
    transform: translateY(0) scale(1.3, 0.8);
  }

  11% {
    transform: translateY(0) scale(0.7, 1.2);
    animation-timing-function: cubic-bezier(0, 1, 0.5, 1);
  }

  39% {
    transform: translateY(-75px) scale(1);
    animation-timing-function: cubic-bezier(0, 1, 0.5, 1);
  }

  40% {
    transform: translateY(-75px) scale(1);
  }

  41% {
    transform: translateY(-75px) scale(1);
    animation-timing-function: cubic-bezier(1, 0, 1, 1);
  }

  69% {
    transform: translateY(0px) scale(1, 1);
    animation-timing-function: cubic-bezier(1, 0, 1, 1);
  }

  70% {
    transform: translateY(0) scale(1.5, 0.4);
  }

  80% {
    transform: translateY(0) scale(0.8, 1.2);
  }

  90% {
    transform: translateY(0) scale(1.1, 0.8);
  }

  100% {
    transform: translateY(0) scale(1, 1);
  }
}

.loader__balls__group .item1 {
  animation-delay: 0ms;
}

.loader__balls__group .item2 {
  animation-delay: 100ms;
}

.loader__balls__group .item3 {
  animation-delay: 200ms;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #d1d5db;
  /* gray-300 */
  border-radius: 9999px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #9ca3af;
  /* gray-400 */
}

.element {
  /* Firefox */
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

/* Chrome, Edge, Safari */
.element::-webkit-scrollbar {
  width: 10px;
}

.element::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.element::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 6px;
  /* border: 3px solid #f1f1f1; */
}

.element::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.pricing-slider .swiper-button-prev,
.pricing-slider .swiper-button-next {

  color: white !important;
  background: linear-gradient(90deg, #f55823 0%, #ff9f00 100%) !important;
  width: 35px !important;
  height: 35px !important;
  border-radius: 100%;
  font-size: 12px;
  font-weight: 700;
}


.pricing-slider .swiper-button-prev::after,
.pricing-slider .swiper-button-next::after {
  font-size: 14px;
}

.pricing-slider .swiper-pagination .swiper-pagination-bullet-active {
  background: linear-gradient(90deg, #f55823 0%, #ff9f00 100%);
}